extends ./partials/templates/template.pug

block content
    include partials/components/index-slider.pug
    include partials/components/create-your-place.pug
    include partials/components/index-news.pug
    include partials/components/index-events.pug