
<!-- Conditions-->
<div class="container conditions-list" id="services">
  <h2 class="h2-title -light">Услуги в коворкинге</h2>
  <div class="row _justify-arround">
    <div class="condition-block">
      <div class="img"><img src="../img/pics/condition-rent.png" title="Аренда рабочего места" alt="Аренда рабочего места"/></div>
      <h3 class="title">Аренда рабочего места</h3>
    </div>
    <div class="condition-block">
      <div class="img"><img src="../img/pics/condition-equipment.png" title="Оргтехника" alt="Оргтехника"/></div>
      <h3 class="title">Оргтехника</h3>
    </div>
    <div class="condition-block">
      <div class="img"><img src="../img/pics/condition-legal.png" title="Юридические и бухгалтерские услуги" alt="Юридические и бухгалтерские услуги"/></div>
      <h3 class="title">Юридические и бухгалтерские услуги</h3>
    </div>
    <div class="condition-block">
      <div class="img"><img src="../img/pics/condition-receptionist.png" title="Администратор" alt="Администратор"/></div>
      <h3 class="title">Администратор</h3>
    </div>
    <div class="condition-block">
      <div class="img"><img src="../img/pics/condition-businesscom.png" title="Бизнес-сообщества" alt="Бизнес-сообщества"/></div>
      <h3 class="title">Бизнес-сообщества</h3>
    </div>
    <div class="condition-block">
      <div class="img"><img src="../img/pics/condition-education.png" title="Образовательные мероприятия" alt="Образовательные мероприятия"/></div>
      <h3 class="title">Образовательные мероприятия</h3>
    </div>
    <div class="condition-block">
      <div class="img"><img src="../img/pics/condition-wifi.png" title="WiFi" alt="WiFi"/></div>
      <h3 class="title">WiFi</h3>
    </div>
  </div>
</div>