
<!-- Contacts-->
<div class="container contacts-block" id="contacts">
  <h2 class="h2-title -light">Наши контакты</h2>
  <div class="row _justify-beetwen">
    <div class="column -xs-3">
      <select class="js-select">
        <option>Дубна</option>
        <option>Одинцово</option>
      </select>
    </div>
    <div class="column -xs-2 -xs-offset-1">
      <label class="checkbox">
        <input class="js-input-checkbox" type="checkbox"/><span>Консультации</span>
      </label>
    </div>
    <div class="column -xs-2">
      <label class="checkbox">
        <input class="js-input-checkbox" type="checkbox"/><span>Мероприятия</span>
      </label>
    </div>
    <div class="column -xs-2">
      <label class="checkbox">
        <input class="js-input-checkbox" type="checkbox"/><span>Аренда ноутбука</span>
      </label>
    </div>
    <div class="column -xs-2">
      <label class="checkbox">
        <input class="js-input-checkbox" type="checkbox"/><span>Круглосуточный режим работы</span>
      </label>
    </div>
  </div>
</div>
<div class="map-index" id="index-map"></div>