
<!-- Header-->
<header class="b-header">
  <div class="container">
    <div class="row">
      <!-- Logo-->
      <div class="column -xs-2 _d-flex _align-center _justify-center"><a class="b-logo" href="javascript:void(0)" title="Co-Working &quot;Start&quot; • CREATE YOUR LIFE'S WORK">
          <div class="logo"><img src="../img/pics/logo.png"/></div>
          <div class="sitename"><img src="../svg/pics/sitename.svg"/></div></a></div>
      <!-- Navigation-->
      <div class="column -xs-6 _d-flex _align-center">
        <nav class="header-nav">
          <ul class="list">
            <li class="item"><a class="link" href="#about" title="О нас">О нас</a></li>
            <li class="item"><a class="link" href="#news" title="Новости">Новости</a></li>
            <li class="item"><a class="link" href="#anounces" title="Анонсы">Анонсы</a></li>
            <li class="item"><a class="link" href="#services" title="Услуги">Услуги</a></li>
            <li class="item"><a class="link" href="#tariffs" title="Тарифы">Тарифы</a></li>
            <li class="item"><a class="link" href="#locations" title="Локации">Локации</a></li>
            <li class="item"><a class="link" href="#reviews" title="Отзывы">Отзывы</a></li>
            <li class="item"><a class="link" href="#contacts" title="Контакты">Контакты</a></li>
          </ul>
        </nav>
      </div>
      <!-- App icons-->
      <div class="column -xs-1 _d-flex _align-center _justify-center">
        <div class="app-icons"><a class="icon" href="javascript:void(0)" title="Скачать iOS-приложение">
            <svg>
              <use xlink:href="#apple"></use>
            </svg></a><a class="icon" href="javascript:void(0)" title="Скачать Android-приложение">
            <svg>
              <use xlink:href="#android"></use>
            </svg></a></div>
      </div>
      <!-- SigIn/User-->
      <div class="column -xs-3 _d-flex _align-center">
        <div class="b-sigin"><a class="btn" href="javascript:void(0)" title="Зарегистрироваться">Зарегистрироваться</a></div>
      </div>
    </div>
  </div>
</header>