
<div class="main-slider">
  <div class="content-block"><a class="startbtn" href="#contacts" title="На старт"></a>
    <p class="slogan">CREATE YOUR LIFE'S WORK</p>
    <ul class="list">
      <li class="item"><a class="link" href="#0" title="К">К</a></li>
      <li class="item"><a class="link" href="#1" title="о">о</a></li>
      <li class="item"><a class="link" href="#2" title="в">в</a></li>
      <li class="item"><a class="link" href="#3" title="о">о</a></li>
      <li class="item"><a class="link" href="#4" title="р">р</a></li>
      <li class="item"><a class="link" href="#5" title="к">к</a></li>
      <li class="item"><a class="link" href="#6" title="и">и</a></li>
      <li class="item"><a class="link" href="#7" title="н">н</a></li>
      <li class="item"><a class="link" href="#8" title="г">г</a></li>
    </ul>
  </div>
  <div class="index-slider" id="index-slider">
    <div class="slide"><img src="../img/pics/main-slider-slide.png"/></div>
    <div class="slide"><img src="../img/pics/main-slider-slide.png"/></div>
    <div class="slide"><img src="../img/pics/main-slider-slide.png"/></div>
    <div class="slide"><img src="../img/pics/main-slider-slide.png"/></div>
    <div class="slide"><img src="../img/pics/main-slider-slide.png"/></div>
    <div class="slide"><img src="../img/pics/main-slider-slide.png"/></div>
  </div>
</div>