
<section class="container index-news" id="news">
  <h2 class="h2-title">Новости</h2>
  <div class="row">
    <div class="column -xs-3">
      <!-- Article preview-->
      <article class="article-preview js-article-preview" title="В коворкинге прошел молодежный научно-инновационный конкурс">
        <figure>
          <div class="img"><img src="../img/pics/article-img.png" alt="В коворкинге прошел молодежный научно-инновационный конкурс"/></div>
          <figcaption class="anounce"><span class="text">В коворкинге прошел молодежный научно-инновационный конкурс</span></figcaption>
        </figure>
      </article>
    </div>
    <div class="column -xs-3">
      <!-- Article preview-->
      <article class="article-preview js-article-preview" title="В коворкинге прошел молодежный научно-инновационный конкурс">
        <figure>
          <div class="img"><img src="../img/pics/article-img.png" alt="В коворкинге прошел молодежный научно-инновационный конкурс"/></div>
          <figcaption class="anounce"><span class="text">В коворкинге прошел молодежный научно-инновационный конкурс</span></figcaption>
        </figure>
      </article>
    </div>
    <div class="column -xs-3">
      <!-- Article preview-->
      <article class="article-preview js-article-preview" title="В коворкинге прошел молодежный научно-инновационный конкурс">
        <figure>
          <div class="img"><img src="../img/pics/article-img.png" alt="В коворкинге прошел молодежный научно-инновационный конкурс"/></div>
          <figcaption class="anounce"><span class="text">В коворкинге прошел молодежный научно-инновационный конкурс</span></figcaption>
        </figure>
      </article>
    </div>
    <div class="column -xs-3">
      <!-- Article preview-->
      <article class="article-preview js-article-preview" title="В коворкинге прошел молодежный научно-инновационный конкурс">
        <figure>
          <div class="img"><img src="../img/pics/article-img.png" alt="В коворкинге прошел молодежный научно-инновационный конкурс"/></div>
          <figcaption class="anounce"><span class="text">В коворкинге прошел молодежный научно-инновационный конкурс</span></figcaption>
        </figure>
      </article>
    </div>
  </div>
  <div class="row">
    <div class="column -xs-12">
      <p class="article-text _hide js-article-text">
        Коворкинг (co-working или coworking, в переводе с английского языка означает «совместно работающие») – это оборудованное всем необходимым
        для работы пространство, сдаваемое в аренду любому желающему на необходимый срок – день, неделю, месяц, несколько месяцев. В коворкинг-центре свободные и независимыми люди, в основном фрилансеры (программисты, переводчиков, дизайнеров и т.д.), используют общее пространство
        для работы пространство, сдаваемое в аренду любому желающему на необходимый срок – день, неделю, месяц, несколько месяцев. В коворкинг-центре свободные и независимыми люди, в основном фрилансеры (программисты, переводчиков, дизайнеров и т.д.), используют общее пространство
      </p>
    </div>
  </div>
  <div class="row">
    <div class="column -xs-12"><a class="all-info" href="javascript:void(0)" title="Все новости"><span class="icon"></span><span class="text">Все новости</span></a>
    </div>
  </div>
</section>