
<!-- Why we love-->
<div class="container why-love" id="reviews">
  <h2 class="h2-title -light">ВОТ ПОЧЕМУ МЫ ЛЮБИМ ЭТО МЕСТО</h2>
  <div class="row">
    <div class="column -xs-12 -md-6 -lg-4">
      <article class="review-block">
        <div class="photo"><img src="../img/pics/reviewer-photo.png" title="Сергей Хабаровский" alt="С тех пор как я зарегистрировался тут, количество моих клиентов возросло в 2 раза. Всем рекомендую"/></div>
        <blockquote class="quote">
          <cite class="author">
            <h3 class="name">Сергей Хабаровский</h3>
            <p class="who">основатель и управляющий «Перельман и Партнеры»</p>
          </cite>
          <p class="text"><span>С тех пор как я зарегистрировался тут, количество моих клиентов возросло в 2 раза. Всем рекомендую</span></p>
        </blockquote>
      </article>
    </div>
    <div class="column -xs-12 -md-6 -lg-4">
      <article class="review-block">
        <div class="photo"><img src="../img/pics/reviewer-photo.png" title="Сергей Хабаровский" alt="С тех пор как я зарегистрировался тут, количество моих клиентов возросло в 2 раза. Всем рекомендую"/></div>
        <blockquote class="quote">
          <cite class="author">
            <h3 class="name">Сергей Хабаровский</h3>
            <p class="who">основатель и управляющий «Перельман и Партнеры»</p>
          </cite>
          <p class="text"><span>С тех пор как я зарегистрировался тут, количество моих клиентов возросло в 2 раза. Всем рекомендую</span></p>
        </blockquote>
      </article>
    </div>
    <div class="column -xs-12 -md-6 -lg-4">
      <article class="review-block">
        <div class="photo"><img src="../img/pics/reviewer-photo.png" title="Сергей Хабаровский" alt="С тех пор как я зарегистрировался тут, количество моих клиентов возросло в 2 раза. Всем рекомендую"/></div>
        <blockquote class="quote">
          <cite class="author">
            <h3 class="name">Сергей Хабаровский</h3>
            <p class="who">основатель и управляющий «Перельман и Партнеры»</p>
          </cite>
          <p class="text"><span>С тех пор как я зарегистрировался тут, количество моих клиентов возросло в 2 раза. Всем рекомендую</span></p>
        </blockquote>
      </article>
    </div>
  </div>
</div>