
<div class="container zones-section">
  <div class="row">
    <div class="column -xs-12">
      <div class="sliders-wrapper">
        <div class="sliders-menu" id="js-zones-menu">
          <ul class="list">
            <li class="item"><a class="link -coworking -active" href="javascript:void(0)">Коворкинг</a></li>
            <li class="item"><a class="link -offices" href="javascript:void(0)">Мини офисы</a></li>
            <li class="item"><a class="link -conference" href="javascript:void(0)">Конференц зал</a></li>
            <li class="item"><a class="link -negotiations" href="javascript:void(0)">Переговорочная</a></li>
            <li class="item"><a class="link -kitchen" href="javascript:void(0)">Кухня</a></li>
            <li class="item"><a class="link -recreation" href="javascript:void(0)">Зона отдыха</a></li>
          </ul>
        </div>
        <div class="zones-slider -coworking -active">
          <div class="slide">
            <div class="img"><img src="../img/pics/zones-slide.png" alt="Коворкинг"/></div>
            <div class="slide-content">
              <div class="left">
                <div class="img"><img src="../img/pics/mini-office.png" alt="Коворкинг"/></div>
              </div>
              <div class="right">
                <p class="info">Зоны коворкинга</p>
                <h3 class="title">Коворкинг</h3>
                <p class="text">Офисы для небольших команд</p>
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="img"><img src="../img/pics/zones-slide.png" alt="Коворкинг"/></div>
            <div class="slide-content">
              <div class="left">
                <div class="img"><img src="../img/pics/mini-office.png" alt="Коворкинг"/></div>
              </div>
              <div class="right">
                <p class="info">Зоны коворкинга</p>
                <h3 class="title">Коворкинг</h3>
                <p class="text">Офисы для небольших команд</p>
              </div>
            </div>
          </div>
        </div>
        <div class="zones-slider -offices">
          <div class="slide">
            <div class="img"><img src="../img/pics/zones-slide.png" alt="Коворкинг"/></div>
            <div class="slide-content">
              <div class="left">
                <div class="img"><img src="../img/pics/mini-office.png" alt="Коворкинг"/></div>
              </div>
              <div class="right">
                <p class="info">Зоны коворкинга</p>
                <h3 class="title">Мини офисы</h3>
                <p class="text">Офисы для небольших команд</p>
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="img"><img src="../img/pics/zones-slide.png" alt="Коворкинг"/></div>
            <div class="slide-content">
              <div class="left">
                <div class="img"><img src="../img/pics/mini-office.png" alt="Коворкинг"/></div>
              </div>
              <div class="right">
                <p class="info">Зоны коворкинга</p>
                <h3 class="title">Коворкинг</h3>
                <p class="text">Офисы для небольших команд</p>
              </div>
            </div>
          </div>
        </div>
        <div class="zones-slider -conference">
          <div class="slide">
            <div class="img"><img src="../img/pics/zones-slide.png" alt="Коворкинг"/></div>
            <div class="slide-content">
              <div class="left">
                <div class="img"><img src="../img/pics/mini-office.png" alt="Коворкинг"/></div>
              </div>
              <div class="right">
                <p class="info">Зоны коворкинга</p>
                <h3 class="title">Конференц зал</h3>
                <p class="text">Офисы для небольших команд</p>
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="img"><img src="../img/pics/zones-slide.png" alt="Коворкинг"/></div>
            <div class="slide-content">
              <div class="left">
                <div class="img"><img src="../img/pics/mini-office.png" alt="Коворкинг"/></div>
              </div>
              <div class="right">
                <p class="info">Зоны коворкинга</p>
                <h3 class="title">Коворкинг</h3>
                <p class="text">Офисы для небольших команд</p>
              </div>
            </div>
          </div>
        </div>
        <div class="zones-slider -negotiations">
          <div class="slide">
            <div class="img"><img src="../img/pics/zones-slide.png" alt="Коворкинг"/></div>
            <div class="slide-content">
              <div class="left">
                <div class="img"><img src="../img/pics/mini-office.png" alt="Коворкинг"/></div>
              </div>
              <div class="right">
                <p class="info">Зоны коворкинга</p>
                <h3 class="title">Переговорочная</h3>
                <p class="text">Офисы для небольших команд</p>
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="img"><img src="../img/pics/zones-slide.png" alt="Коворкинг"/></div>
            <div class="slide-content">
              <div class="left">
                <div class="img"><img src="../img/pics/mini-office.png" alt="Коворкинг"/></div>
              </div>
              <div class="right">
                <p class="info">Зоны коворкинга</p>
                <h3 class="title">Коворкинг</h3>
                <p class="text">Офисы для небольших команд</p>
              </div>
            </div>
          </div>
        </div>
        <div class="zones-slider -kitchen">
          <div class="slide">
            <div class="img"><img src="../img/pics/zones-slide.png" alt="Коворкинг"/></div>
            <div class="slide-content">
              <div class="left">
                <div class="img"><img src="../img/pics/mini-office.png" alt="Коворкинг"/></div>
              </div>
              <div class="right">
                <p class="info">Зоны коворкинга</p>
                <h3 class="title">Кухня</h3>
                <p class="text">Офисы для небольших команд</p>
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="img"><img src="../img/pics/zones-slide.png" alt="Коворкинг"/></div>
            <div class="slide-content">
              <div class="left">
                <div class="img"><img src="../img/pics/mini-office.png" alt="Коворкинг"/></div>
              </div>
              <div class="right">
                <p class="info">Зоны коворкинга</p>
                <h3 class="title">Коворкинг</h3>
                <p class="text">Офисы для небольших команд</p>
              </div>
            </div>
          </div>
        </div>
        <div class="zones-slider -recreation">
          <div class="slide">
            <div class="img"><img src="../img/pics/zones-slide.png" alt="Коворкинг"/></div>
            <div class="slide-content">
              <div class="left">
                <div class="img"><img src="../img/pics/mini-office.png" alt="Коворкинг"/></div>
              </div>
              <div class="right">
                <p class="info">Зоны коворкинга</p>
                <h3 class="title">Зона отдыха</h3>
                <p class="text">Офисы для небольших команд</p>
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="img"><img src="../img/pics/zones-slide.png" alt="Коворкинг"/></div>
            <div class="slide-content">
              <div class="left">
                <div class="img"><img src="../img/pics/mini-office.png" alt="Коворкинг"/></div>
              </div>
              <div class="right">
                <p class="info">Зоны коворкинга</p>
                <h3 class="title">Зона отдыха</h3>
                <p class="text">Офисы для небольших команд</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>