.main-slider{
  position: relative;

  .content-block{
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 20px;
    max-width: 55%;

    .startbtn{
      @include  transition();
      width: 260px;
      height: 260px;
      background-image: url("../img/pics/start-btn.png");
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      margin: 0 auto;
      margin-bottom: 40px;
      &:hover{
        background-image: url("../img/pics/start-btn_hover.png");
      }
    }

    .slogan{
      text-transform: uppercase;
      font-size: 76px;
      color: $white;
      text-align: center;
      margin: 0;
      margin-bottom: 30px;
      font-family: "OpenSans-ExtraBold";
    }

    .list{
      display: flex;
      width: 100%;
      justify-content: space-around;
      height: 60px;
      line-height: 60px;
      background-color: $grey;
      padding: 0;
      margin: 0;

      .item{
        display: inline-block;
      }
      .link{
        text-transform: uppercase;
        text-decoration: none;
        color: $white;
        font-size: 25px;
        font-family:"Lato-Light";
      }
    }
  }

  .index-slider{
    position: relative;

    .slide{
      max-height: 890px;
      img{
        width: 100%;
        height: auto;
      }
    }

    .slick-arrow{
      @include transition();
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: $darkgrey;
      border: none;
      font-size: 0;
      position: absolute;
      top: 35%;
      z-index: 50;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 9px 12px;
      outline: none;
      &:hover{
        background-color: $orange;
      }
      &:active{
        background-color: $darkorange;
      }
    }

    .slick-prev{
      left: 15%;
      background-image: url("../img/pics/slider-arrow.png");
    }
    .slick-next{
      right: 15%;
      background-image: url("../img/pics/slider-arrow_next.png");
    }

    .slick-dots{
      position: absolute;
      z-index: 50;
      bottom: 20px;
      left: 0;
      right: 0;
      margin: 0 auto;
      padding: 0;
      text-align: center;
      width: 80%;

      li{
        display: inline-block;
        margin: 0 10px;
      }
      button{
        @include transition();
        border: none;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        font-size: 0;
        padding: 0;
        outline:none;
        &:hover{
          background-color: $blue;
        }
      }
      li.slick-active button{
        background-color: $orange;
      }
    }
  }
}