.index-news{
  margin-top: 40px;
  margin-bottom: 40px;
}

article.article-preview{
  cursor: pointer;
  margin-bottom: 20px;

  &:hover{
    .text{  color: $blue;}
  }
  &:active{
    .text{  color: $darkblue;}
  }

  figure{
    margin: 0;
  }

  .img{
    border-bottom: 3px solid $orange;

    img{
      width: 100%;
      height: auto;
      object-fit: cover;
      display: block;
    }
  }

  figcaption.anounce{
    font-size: 14px;
    color: $black;
    font-family: "OpenSans-Light";
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid $lightergrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .date-wrap{
    min-width: 40px;
    width: 40px;
    height: 50px;
    background-color: $orange;
    margin-right: 10px;

    .number{
      font-family:"OpenSans-Light";
      font-size: 25px;
      color: $white;
      display: block;
      text-align: center;
      line-height: 1;
      margin-top: 5px;
    }
    .month{
      font-family:"OpenSans-Light";
      font-size: 15px;
      color: $white;
      text-transform: lowercase;
      display: block;
      text-align: center;
      line-height: 1;
    }
  }
}

.article-text{
  font-size: 18px;
  color: $lightgray;
  font-family: Arial;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid $lightergrey;
}