mixin article-preview(text)
    // Article preview
    article(title=text).article-preview
        figure
            .img
                img(src="../img/pics/article-img.png" alt= text)
            figcaption.anounce
                span.text= text