mixin event-preview(text)
    // Event preview
    article(title=text).article-preview
        figure
            .img
                img(src="../img/pics/article-img.png" alt= text)
            figcaption.anounce
                .date-wrap
                    span.number 20
                    span.month ноя
                span.text= text