mixin location(className,name,img)
    article(class= className title= name).location-block
        .overlay
        h3.name= name
        div.img
            img(src="../img/pics/" + img alt= name title= name)
        .logo
        .pop-up
            .workplaces
                span.num 40
                span.places рабочих <br> мест
            .address пр. Ленина, 187
            .opening Открытие 15 мая