mixin review-block(photo,name,who,text)
    article.review-block
        .photo
            img(src="../img/pics/" + photo title= name alt= text)
        blockquote.quote
            cite.author
                h3.name= name
                p.who= who
            p.text
                span= text