mixin tariff
    article.tariff-item
        .img
            img(src="../img/pics/tariff.png" alt="Рабочее пространство" title="Рабочее пространство")
        h3.name Рабочее пространство
        p.desc Полный доступ к преимуществам для членов коворкинга и гибкий доcтуп к рабочему пространству
        .price-block
            .price
                span 4500 &#8381;
                span в месяц
            a(href="javascript:void(0)" title="Купить").buy Купить