/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: map-get($icon-home, 'width');
}

At the bottom of this section, we provide information about the spritesheet itself
*/
$s-icon-all-info: (
  name: 's-icon-all-info',
  x: 0px,
  y: 51px,
  offset-x: 0px,
  offset-y: -51px,
  width: 16px,
  height: 11px,
  total-width: 70px,
  total-height: 62px,
  image: '../img/sprite/png-sprite.png'
);
$s-icon-all-info-hover: (
  name: 's-icon-all-info_hover',
  x: 17px,
  y: 51px,
  offset-x: -17px,
  offset-y: -51px,
  width: 16px,
  height: 11px,
  total-width: 70px,
  total-height: 62px,
  image: '../img/sprite/png-sprite.png'
);
$s-icon-bq-left: (
  name: 's-icon-bq-left',
  x: 47px,
  y: 20px,
  offset-x: -47px,
  offset-y: -20px,
  width: 22px,
  height: 19px,
  total-width: 70px,
  total-height: 62px,
  image: '../img/sprite/png-sprite.png'
);
$s-icon-bq-right: (
  name: 's-icon-bq-right',
  x: 47px,
  y: 0px,
  offset-x: -47px,
  offset-y: 0px,
  width: 23px,
  height: 19px,
  total-width: 70px,
  total-height: 62px,
  image: '../img/sprite/png-sprite.png'
);
$s-logo-min: (
  name: 's-logo-min',
  x: 0px,
  y: 0px,
  offset-x: 0px,
  offset-y: 0px,
  width: 46px,
  height: 50px,
  total-width: 70px,
  total-height: 62px,
  image: '../img/sprite/png-sprite.png'
);
$spritesheet: (
  width: 70px,
  height: 62px,
  image: '../img/sprite/png-sprite.png',
  sprites: ($s-icon-all-info, $s-icon-all-info-hover, $s-icon-bq-left, $s-icon-bq-right, $s-logo-min, )
);

/*
The provided mixins are intended to be used with variables directly

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: map-get($sprite, 'width');
}

@mixin sprite-height($sprite) {
  height: map-get($sprite, 'height');
}

@mixin sprite-position($sprite) {
  background-position: map-get($sprite, 'offset-x') map-get($sprite, 'offset-y');
}

@mixin sprite-image($sprite) {
  background-image: url(map-get($sprite, 'image'));
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites(map-get($spritesheet, 'sprites'));
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: map-get($sprite, 'name');
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
