include ../abstracts/mixins/_condition-block.pug

// Conditions
.container.conditions-list
    h2.h2-title.-light Услуги в коворкинге
    .row._justify-arround
        +condition-block("condition-rent.png","Аренда рабочего места")
        +condition-block("condition-equipment.png","Оргтехника")
        +condition-block("condition-legal.png","Юридические и бухгалтерские услуги")
        +condition-block("condition-receptionist.png","Администратор")
        +condition-block("condition-businesscom.png","Бизнес-сообщества")
        +condition-block("condition-education.png","Образовательные мероприятия")
        +condition-block("condition-wifi.png","WiFi")