// Contacts
.container.contacts-block#contacts
    h2.h2-title.-light Наши контакты
    .row._justify-beetwen
        .column.-xs-3
            select.js-select
                option Все коворкинги
                option Дубна
                option Одинцово
        .column.-xs-2.-xs-offset-1
            label.checkbox
                input(type="checkbox").js-input-checkbox
                span Консультации
        .column.-xs-2
            label.checkbox
                input(type="checkbox").js-input-checkbox
                span Мероприятия
        .column.-xs-2
            label.checkbox
                input(type="checkbox").js-input-checkbox
                span Аренда ноутбука
        .column.-xs-2
            label.checkbox
                input(type="checkbox").js-input-checkbox
                span Круглосуточный режим работы
.map-index#index-map


