// Header
include ../abstracts/mixins/_menu.pug

header.b-header
    .container
        .row
            // Logo
            .column._d-flex._align-center._justify-left.-xs-6.-lg-3.-xl-2
                a(href="javascript:void(0)" title= "Co-Working \"Start\" • CREATE YOUR LIFE'S WORK").b-logo
                    .logo
                        img(src="../img/pics/logo.png")
                    .sitename
                        img(src="../svg/pics/sitename.svg")
            // Navigation
            .column._d-flex._align-center._justify-right.-xs-6.-lg-9.-xl-6
                nav.header-nav#js-top-menu
                    a(href="javascript:void(0)").b-gamburger.js-top-toggler._lg-hidden-up
                        span.toggler
                        //span.text Меню
                    +menu({about:'О нас',news:'Новости',anounces:'Анонсы',services:'Услуги',tariffs:'Тарифы',locations:'Локации',reviews:'Отзывы',contacts:'Контакты'})
            // App icons
            .column._d-flex._align-center._justify-center.-xs-4.-xl-1
                .app-icons
                    a(href="javascript:void(0)" title= "Скачать iOS-приложение").icon
                        svg
                            use(xlink:href="#apple")
                    a(href="javascript:void(0)" title= "Скачать Android-приложение").icon
                        svg
                            use(xlink:href="#android")
            // SigIn/User
            .column._d-flex._align-center.-xs-8.-xl-3
                .b-sigin
                    a(href="#test-drive-form" title= "Зарегистрироваться").btn Зарегистрироваться