include ../abstracts/mixins/_article-preview.pug
include ../abstracts/mixins/_all-info-btn.pug

section.container.index-news#news
    h2.h2-title Новости
    .row
        - for (i=0; i<4; i++)
            .column.-xs-12.-md-6.-lg-3
                +article-preview("В коворкинге прошел молодежный научно-инновационный конкурс")
    .row
        .column.-xs-12
            p.article-text._hide.js-article-text.
                Коворкинг (co-working или coworking, в переводе с английского языка означает «совместно работающие») – это оборудованное всем необходимым
                для работы пространство, сдаваемое в аренду любому желающему на необходимый срок – день, неделю, месяц, несколько месяцев. В коворкинг-центре свободные и независимыми люди, в основном фрилансеры (программисты, переводчиков, дизайнеров и т.д.), используют общее пространство
                для работы пространство, сдаваемое в аренду любому желающему на необходимый срок – день, неделю, месяц, несколько месяцев. В коворкинг-центре свободные и независимыми люди, в основном фрилансеры (программисты, переводчиков, дизайнеров и т.д.), используют общее пространство
    .row
        .column.-xs-12
            +all-info-btn("Все новости")