include ../abstracts/mixins/_menu.pug

.main-slider
    .content-block
        a(href='#test-drive-form' title="На старт").startbtn
        p.slogan Создай своё рабочее пространство
        +menu({coworking:'Коворкинг',place:'Пространство',services:'Услуги'})

    .index-slider#index-slider
        .slide
            img(src="../img/pics/main-slider-slide.png" alt="Коворкиг \"Старт")
        .slide
            img(src="../img/pics/1.jpg" alt="Коворкиг \"Старт")
        .slide
            img(src="../img/pics/2.jpg" alt="Коворкиг \"Старт")
        .slide
            img(src="../img/pics/3.jpg" alt="Коворкиг \"Старт")
        .slide
            img(src="../img/pics/4.jpg" alt="Коворкиг \"Старт")
        .slide
            img(src="../img/pics/5.jpg" alt="Коворкиг \"Старт")