include ../abstracts/mixins/_menu.pug

.main-slider
    .content-block
        a(href='#contacts' title="На старт").startbtn
        p.slogan CREATE YOUR LIFE'S WORK
        +menu({coworking:'Коворкинг',place:'Пространство',services:'Услуги'})

    .index-slider#index-slider
        - for (i=0; i<6; i++)
            .slide
                img(src="../img/pics/main-slider-slide.png")
