include ../abstracts/mixins/_event-preview.pug
include ../abstracts/mixins/_all-info-btn.pug

.container.index-news#anounces
    h2.h2-title Мероприятия
    .row
        - for (i=0; i<4; i++)
            .column.-xs-3
                +event-preview("В коворкинге прошел молодежный научно-инновационный конкурс")
    .row
        .column.-xs-12
            +all-info-btn("Все мероприятия")