include ../abstracts/mixins/_location.pug

// Locations
.container
    h2.h2-title.-light Локации
    .row
        .column.-xs-4
            +location("-orange","Дубна","location-bg.png")
        .column.-xs-4
            +location("-blue","Одинцово","location-bg.png")
        .column.-xs-4
            +location("-green","Реутов","location-bg.png")
        .column.-xs-4
            +location("-green","Долгопрудный","location-bg.png")
        .column.-xs-4
            +location("-orange","Красногорск","location-bg.png")
        .column.-xs-4
            +location("-blue","Дубна","location-bg.png")