.container.partners-list
    .row
        h2.h2-title.-wo-lines Наши партнеры
    .partner-slider#partner-slider
        - for (i=0; i<6; i++)
            .slide
                img(src="../img/pics/partner-logo.png")