include ../abstracts/mixins/_tariff.pug

// Take yours tariff
.container.tariff#tariffs
    .row
        h2.h2-title.-wo-lines Выбери свой тариф
    .row
        - for (i=0; i<2; i++)
            .column.-xs-6
                +tariff
