section.test-drive#test-drive-form
    .container
        h2.h2-title.-wo-lines Получить бесплатный тест-драйв коворкинга
        h3.subtitle Заполни форму и получи бесплатный день в коворкинге
        a(href="javascript:void(0)").social-loginbtn
            span Зарегистрироваться через социальные сети
            .fb
            .vk

        form.testdrive-form.row#form-test-drive
            .column.-xs-12.-md-6.-lg-4
                label.label
                    span Имя *
                    input(name="name" required).input
            .column.-xs-12.-md-6.-lg-4
                label.label
                    span Фамилия *
                    input(name="surname" required).input
            .column.-xs-12.-md-6.-lg-4
                label.label
                    span Телефон *
                    input(name="phone" type="tel" required).input.js-input-tel
            .column.-xs-12.-md-6.-lg-4
                label.label
                    span Электронная почта *
                    input(name="email" required).input
            .column.-xs-12.-md-6.-lg-4
                label.label
                    span Город проживания *
                    input(name="city" required).input
            .column.-xs-12.-md-6.-lg-4._d-flex._align-center
                label.checkbox
                    input(type="checkbox").js-input-checkbox
                    span Я хочу получать рассылку
            .column.-xs-12
                h3.additional Дополнительная информация
            .column.-xs-12.-md-6.-lg-4
                .img-upload
                    .upload
                        .clip
                        .clip.-bg
                        .clip.-bordered
                        input(type="file")
                    .controls
                        p.photo Фото
                        a(href="javascript:void(0)").uploadbtn
                            span Загрузить
            .column.-xs-12.-md-6.-lg-4
                label.label
                    span Ссылка на сайт *
                    input(name="siteurl" required).input
                label.label
                    span Род занятий *
                    input(name="work" required).input
            .column.-xs-12.-md-6.-lg-4
                label.label.-social
                    span Социальные сети
                    input.input
            .column.-xs-12
                button.signin
                    span Зарегистрироваться