section.test-drive
    .container
        h2.h2-title.-wo-lines Записаться на бесплатный тест-драйв коворкинга
        a(href="javascript:void(0)").social-loginbtn
            span Зарегистрироваться через социальные сети
            .fb
            .vk

        form.testdrive-form.row
            .column.-xs-12.-md-6.-lg-4
                label.label.-error
                    span Имя
                    input.input
            .column.-xs-12.-md-6.-lg-4
                label.label
                    span Фамилия
                    input.input
            .column.-xs-12.-md-6.-lg-4
                label.label
                    span Телефон
                    input(type="tel").input.js-input-tel
            .column.-xs-12.-md-6.-lg-4
                label.label
                    span Электронная почта
                    input.input
            .column.-xs-12.-md-6.-lg-4
                label.label
                    span Город проживания
                    input.input
            .column.-xs-12.-md-6.-lg-4._d-flex._align-center
                label.checkbox
                    input(type="checkbox").js-input-checkbox
                    span Я хочу получать рассылку
            .column.-xs-12
                h3.additional Дополнительная информация
            .column.-xs-12.-md-6.-lg-4
                .img-upload
                    .upload
                    .controls
                        p.photo Фото
                        a(href="javascript:void(0)").uploadbtn
                            span Загрузить
            .column.-xs-12.-md-6.-lg-4
                label.label
                    span Ссылка на сайт
                    input.input
                label.label
                    span Род занятий
                    input.input
            .column.-xs-12.-md-6.-lg-4
                label.label.-social
                    span Социальные сети
                    input.input
            .column.-xs-12
                a(href="javascript:void(0)").signin
                    span Зарегистрироваться