include ../abstracts/mixins/_review-block.pug

// Why we love
.container.why-love#reviews
    h2.h2-title.-light ВОТ ПОЧЕМУ МЫ ЛЮБИМ ЭТО МЕСТО
    .row
        - for (i=0; i<3; i++)
            .column.-xs-4
                +review-block("reviewer-photo.png","Сергей Хабаровский","основатель и управляющий «Перельман и Партнеры»","С тех пор как я зарегистрировался тут, количество моих клиентов возросло в 2 раза. Всем рекомендую")