.container.zones-section
    .row
        .column.-xs-12
            .sliders-wrapper
                .sliders-menu#js-zones-menu
                    ul.list
                        li.item
                            a(href="javascript:void(0)").link.-coworking.-active Коворкинг
                        li.item
                            a(href="javascript:void(0)").link.-offices Мини офисы
                        li.item
                            a(href="javascript:void(0)").link.-conference Конференц зал
                        li.item
                            a(href="javascript:void(0)").link.-negotiations Переговорочная
                        li.item
                            a(href="javascript:void(0)").link.-kitchen Кухня
                        li.item
                            a(href="javascript:void(0)").link.-recreation Зона отдыха
                .zones-slider.-coworking.-active
                    .slide
                        .img
                            img(src="../img/pics/zones-slide.png" alt="Коворкинг")
                        .slide-content
                            .left
                                .img
                                    img(src="../img/pics/mini-office.png" alt="Коворкинг")
                            .right
                                p.info Зоны коворкинга
                                h3.title Коворкинг
                                p.text Офисы для небольших команд
                    .slide
                        .img
                            img(src="../img/pics/zones-slide.png" alt="Коворкинг")
                        .slide-content
                            .left
                                .img
                                    img(src="../img/pics/mini-office.png" alt="Коворкинг")
                            .right
                                p.info Зоны коворкинга
                                h3.title Коворкинг
                                p.text Офисы для небольших команд
                .zones-slider.-offices
                    .slide
                        .img
                            img(src="../img/pics/zones-slide.png" alt="Коворкинг")
                        .slide-content
                            .left
                                .img
                                    img(src="../img/pics/mini-office.png" alt="Коворкинг")
                            .right
                                p.info Зоны коворкинга
                                h3.title Мини офисы
                                p.text Офисы для небольших команд
                    .slide
                        .img
                            img(src="../img/pics/zones-slide.png" alt="Коворкинг")
                        .slide-content
                            .left
                                .img
                                    img(src="../img/pics/mini-office.png" alt="Коворкинг")
                            .right
                                p.info Зоны коворкинга
                                h3.title Коворкинг
                                p.text Офисы для небольших команд
                .zones-slider.-conference
                    .slide
                        .img
                            img(src="../img/pics/zones-slide.png" alt="Коворкинг")
                        .slide-content
                            .left
                                .img
                                    img(src="../img/pics/mini-office.png" alt="Коворкинг")
                            .right
                                p.info Зоны коворкинга
                                h3.title Конференц зал
                                p.text Офисы для небольших команд
                    .slide
                        .img
                            img(src="../img/pics/zones-slide.png" alt="Коворкинг")
                        .slide-content
                            .left
                                .img
                                    img(src="../img/pics/mini-office.png" alt="Коворкинг")
                            .right
                                p.info Зоны коворкинга
                                h3.title Коворкинг
                                p.text Офисы для небольших команд
                .zones-slider.-negotiations
                    .slide
                        .img
                            img(src="../img/pics/zones-slide.png" alt="Коворкинг")
                        .slide-content
                            .left
                                .img
                                    img(src="../img/pics/mini-office.png" alt="Коворкинг")
                            .right
                                p.info Зоны коворкинга
                                h3.title Переговорочная
                                p.text Офисы для небольших команд
                    .slide
                        .img
                            img(src="../img/pics/zones-slide.png" alt="Коворкинг")
                        .slide-content
                            .left
                                .img
                                    img(src="../img/pics/mini-office.png" alt="Коворкинг")
                            .right
                                p.info Зоны коворкинга
                                h3.title Коворкинг
                                p.text Офисы для небольших команд
                .zones-slider.-kitchen
                    .slide
                        .img
                            img(src="../img/pics/zones-slide.png" alt="Коворкинг")
                        .slide-content
                            .left
                                .img
                                    img(src="../img/pics/mini-office.png" alt="Коворкинг")
                            .right
                                p.info Зоны коворкинга
                                h3.title Кухня
                                p.text Офисы для небольших команд
                    .slide
                        .img
                            img(src="../img/pics/zones-slide.png" alt="Коворкинг")
                        .slide-content
                            .left
                                .img
                                    img(src="../img/pics/mini-office.png" alt="Коворкинг")
                            .right
                                p.info Зоны коворкинга
                                h3.title Коворкинг
                                p.text Офисы для небольших команд
                .zones-slider.-recreation
                    .slide
                        .img
                            img(src="../img/pics/zones-slide.png" alt="Коворкинг")
                        .slide-content
                            .left
                                .img
                                    img(src="../img/pics/mini-office.png" alt="Коворкинг")
                            .right
                                p.info Зоны коворкинга
                                h3.title Зона отдыха
                                p.text Офисы для небольших команд
                    .slide
                        .img
                            img(src="../img/pics/zones-slide.png" alt="Коворкинг")
                        .slide-content
                            .left
                                .img
                                    img(src="../img/pics/mini-office.png" alt="Коворкинг")
                            .right
                                p.info Зоны коворкинга
                                h3.title Зона отдыха
                                p.text Офисы для небольших команд
                .zones-slider.-tablet
                    .slide
                        .img
                            img(src="../img/pics/zones-slide.png" alt="Коворкинг")
                        .slide-content
                            .left
                                .img
                                    img(src="../img/pics/mini-office.png" alt="Коворкинг")
                            .right
                                p.info Зоны коворкинга
                                h3.title Планшетный вид
                                p.text Офисы для небольших команд
                    .slide
                        .img
                            img(src="../img/pics/zones-slide.png" alt="Коворкинг")
                        .slide-content
                            .left
                                .img
                                    img(src="../img/pics/mini-office.png" alt="Коворкинг")
                            .right
                                p.info Зоны коворкинга
                                h3.title Зона отдыха
                                p.text Офисы для небольших команд